<div class="modal" ng-controller="HomeController" id="artModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>Recent Articles</strong></h2>
        <p class="panel-subheading"><i>Over 7,000 reads to date</i></p>
      </div>

      <md-divider></md-divider>

      <md-content layout-margin layout-padding>
        <h3 class="md-display-5" style="color:black; margin-bottom: 0;"><strong><a ng-href="https://medium.com/remotive-collection/remote-work-doesn-t-feel-so-remote-anymore-261d4eb4aab0#.309ljkses" target="_blank">Remote Work Doesn't Feel So Remote Anymore</a></strong></h3>
        <p style="margin-top: -5px;">Just recently, Mark Suster (partner at Upfront Ventures) tweeted about an article he wrote on... <a ng-href="https://medium.com/remotive-collection/remote-work-doesn-t-feel-so-remote-anymore-261d4eb4aab0#.309ljkses" target="_blank"><i>READ ON</a></i></p>
      </md-content>

      <md-content layout-margin layout-padding>
        <h3 class="md-display-5" style="color:black; margin-bottom: 0;"><strong><a ng-href="https://medium.com/remotive-collection/the-startups-guide-to-remote-teams-2ba067487716#.ytwc5644b" target="_blank">The Startups Guide to Remote Teams</a></strong></h3>
        <p style="margin-top: -5px;">There’s a period in the lifecycle of building things where you go from side project to your main focus. Maybe you.. <a ng-href="https://medium.com/remotive-collection/the-startups-guide-to-remote-teams-2ba067487716#.ytwc5644b" target="_blank"><i>READ ON</a></i></p>
      </md-content>

      <md-content layout-margin layout-padding>
        <h3 class="md-display-5" style="color:black; margin-bottom: 0;"><strong><a ng-href="https://medium.com/remotive-collection/building-a-remote-team-learning-from-failure-dfbfae7c9426#.r8lwdknhk" target="_blank">Building a Remote Team - Learning from Failure</a></strong></h3>
        <p style="margin-top: -5px;">Usually startup advice boils down to this: build the right product for your market. Almost every... <a ng-href="https://medium.com/remotive-collection/building-a-remote-team-learning-from-failure-dfbfae7c9426#.r8lwdknhk" target="_blank"><i>READ ON</a></i></p>
      </md-content>

    </div>
  </div>
</div>
