<div class="modal" ng-controller="HomeController" id="awaModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>Awards & Recognitions</strong></h2>
        <md-divider></md-divider>
      </div>

      <md-content layout-margin layout-padding style="margin-top:-20px;">
        <h2 style="color: #3288E6; margin-bottom: -10px;">2015</h2>
        <ul>
          <li>Chosen as <strong>first international BDR to work in-region</strong> (Sydney, AU)</li>
        </ul>

        <h2 style="color: #3288E6; margin-bottom: -10px;">2014</h2>
        <ul>
          <li>Presented the <strong>Award of Excellence</strong> by Miami University; 6 chosen of 18,000 students</li>
          <li>Student Government <strong>Senator of the Year</strong>; given to one of fifty senators</li>
          <li>As <strong>Founder</strong>, awarded 2014 <strong>Outstanding Student Organization of the Year</strong>; chosen from 200+ student organizations</li>
        </ul>

        <h2 style="color: #3288E6; margin-bottom: -10px;">2013</h2>
        <ul>
          <li>Chosen as keynote speaker for the MAASU National Leadership Conference</li>
        </ul>

      </md-content>

    </div>
  </div>
</div>
