<div class="modal" ng-controller="HomeController" id="mapModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>My Travels</strong></h2>
        <p class="panel-subheading"><i>23 countries and counting</i></p>
        <br>
      </div>

        <div id="regions_div" style="width:auto;"></div>

    </div>
  </div>
</div>
