<div class="modal" ng-controller="HomeController" id="proModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>Projects</strong></h2>
      </div>

      <md-divider></md-divider>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://github.com/mitrakmt/initials-cs50/blob/master/initials.c">Initials - Outputs the initials for a given name</a></h3>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://github.com/mitrakmt/CS50-Projects/blob/master/caesar.c">Caesar - Encrypts text using caesar cipher</a></h3>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://github.com/mitrakmt/CS50-Projects/blob/master/greedy.c">Greedy - Takes in a dollar amount and outputs the optimal change</a></h3>
      </md-content>

    </div>
  </div>
</div>
