<div class="modal" ng-controller="HomeController" id="proModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>Other Projects</strong></h2>
      </div>

      <md-divider></md-divider>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://www.mitrakosfitness.com">Mitrakos Fitness - My personal workouts and diet.</a></h3>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://www.healthyu.io">HealthyU - Healthcare startup focused on long-term disease prevention.</a></h3>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="https://www.mitrakoshomes.com/">Mitrakos Homes - Pittsburgh based luxury home builder.</a></h3>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><a target="_blank" ng-href="http://www.livesofthesaintscalendar.com/">Orthodox Calendar Company - International christian calendar and apparel company.</a></h3>
      </md-content>

    </div>
  </div>
</div>
