<div class="modal" ng-controller="HomeController" id="tesModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-display-4 panel-heading"><strong>Testimonials</strong></h2>
      </div>

      <md-divider></md-divider>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><strong>"Michael blah the few sentences will go here. Who knows what it will say. I don't!"</strong></h3>
        <p style="margin-top: -5px;">- Kyle Caldwell, Sales Manager @ Gigya</i></p>
      </md-content>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><strong>"Michael blah the few sentences will go here. Who knows what it will say. I don't!"</strong></h3>
        <p style="margin-top: -5px;">- Mike Flores, Executive Development Program, Developer @ Macy's</i></p>
      </md-content>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><strong>"Michael blah the few sentences will go here. Who knows what it will say. I don't!"</strong></h3>
        <p style="margin-top: -5px;">- Bekah Bolser, Executive Director @ Seat At The Table</i></p>
      </md-content>

      <md-content layout-margin layout-padding>
        <h3 class="md-title brand-color" style="margin-bottom: 0;"><strong>"Michael blah the few sentences will go here. Who knows what it will say. I don't!"</strong></h3>
        <p style="margin-top: -5px;">- Joseph Yaccarino, Account Manager @ HackerRank</i></p>
      </md-content>

    </div>
  </div>
</div>
