
<nav class="menu">
  <input type="checkbox" ng-href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

  <a ng-href="https://www.facebook.com/michaelmitrakos" target="_blank" class="menu-item"> <i class="fa fa-facebook"></i> </a>
  <a ng-href="https://www.twitter.com/mike_mitrakos" target="_blank" class="menu-item"> <i class="fa fa-twitter"></i> </a>
  <a ng-href="https://www.linkedin.com/in/michaelmitrakos" target="_blank" class="menu-item"> <i class="fa fa-linkedin"></i> </a>
  <a ng-href="https://www.github.com/mitrakmt" class="menu-item" target="_blank"> <i class="fa fa-github"></i> </a>
  <a ng-href="https://angel.co/mike_mitrakos" target="_blank" class="menu-item"> <i class="fa fa-angellist fa-custom"></i> </a>
</nav>

<div class="ProfilePic">
  <!-- <img ng-src="images/profile5.jpg"> -->
  <md-card class="article-promo" text-align="center">
    <!-- <h3 class="md-display-2">Articles</h3> -->

    <div class="article">
      <h3 class="md-title"><strong>Articles</strong></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/@mike_mitrakos/data-structure-stack-in-javascript-714f45dbf889#.edgwirx3t" target="_blank">Implement a Stack in JavaScript</a></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/@mike_mitrakos/all-permutations-of-a-set-f1be174c79f8#.7sl6opned" target="_blank">All Permutations of a Set in JS</a></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/@mike_mitrakos/even-occurrence-in-javascript-17b7fb2db08a#.w2myhjvva" target="_blank">Even occurrence interview question in JavaScript</a></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/@mike_mitrakos/implement-a-queue-in-javascript-de306a8821c#.e1zimhtzp" target="_blank">Implement a Queue in JavaScript</a></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/@mike_mitrakos/implement-a-binary-search-tree-in-javascript-952a44ee7c26#.uvh6h2er7" target="_blank">Binary Search Tree in JavaScript</a></h3>
      <md-divider></md-divider>
      <h3 class="md-title"><a href="https://medium.com/init-js/common-characters-in-javascript-5b9b16ef3529#.dvg8cj4d4" target="_blank">Common Characters in JavaScript</a></h3>
    </div>
  </md-card>
</div>

<md-content class="landing-text" layout-margin layout-padding>
  <p class="md-display-1 landing-name">Michael Mitrakos</p>
  <p class="md-display-4 landing-role" style="margin-bottom:-20px; margin-top: -30px">Software Engineer</p>
  <br><br><br>
  <p class="md-primary"><i>Software Engineer @ <a ng-href="https://www.hackreactor.com" target="_blank">Hack Reactor</a> & Board director @ <a ng-href="https://www.demandaseat.org" target="_blank">Seat At The Table</a></i></p>
</md-content>

<br>

<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="shadowed-goo">

          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
          <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
          <feOffset in="shadow" dx="1" dy="1" result="shadow" />
          <feBlend in2="shadow" in="goo" result="goo" />
          <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs>
</svg>

  <md-card class="main-card" class="md-padding work-examples" layout-margin layout-padding>
    <div class="card-content">
      <md-content class="card-section card-section-text card-section-text-img" layout-align="center center">
        <div class="card-section-half">
          <h1 class="animate slideInLeft">SEAT Hackathon</h1>
          <p class="animate slideInLeft delay-2">I designed and developed a web application for the SEAT & Microsoft Hackathon. The goal was to allow a user to sign up, create or join a project, and collaborate around the idea before the event. <br><br><strong>Skills used:</strong> Angular 1x, Angular Material, Firebase, AngularFire, jQuery, HTML5, CSS3, JavaScript, Github, and Bower.<br><br>
          <md-button class="md-button md-raised" ng-href="http://www.seathack.io" target="_blank">www.seathack.io</md-button></p>
        </div>
        <div class="card-section-half website-picture">
          <img class="animate" ng-src="images/SEAT6.jpg" alt="" />
          <img class="animate" ng-src="images/SEAT7.jpg" alt="" />
        </div>
      </md-content>
      <md-content class="card-section card-section-text card-section-text-img" layout-align="center center">
        <div class="card-section-half">
          <h1 class="animate slideInLeft">Civility International (under construction)</h1>
          <p class="animate slideInLeft delay-2">I designed and developed a web application for Civility International, the head organization of all Project Civility chapters across the nation. The goal was to create a digital hub where each chapter can come and have all the resources they would need to be successful. This includes authentication, meeting tracking, forums, articles, a master list of all chapters, member tracking, and more. <br><br><strong>Skills used:</strong> Angular 1x, Angular Material, Firebase, AngularFire, jQuery, HTML5, CSS3, JavaScript, and Github.<br><br>
          <md-button class="md-button md-raised" ng-href="http://www.civilityinternational.org" target="_blank">www.civilityinternational.org</md-button></p>
        </div>
      </md-content>
      <md-content class="card-section card-section-text centered"  layout-align="center center">
        <h1 class="animate scaleIn">Pandemic Site (under construction)</h1>
        <br>
        <p class="animate slideInLeft delay-3">This is a web application that I co-created which shows the real-time spread of disease. Our goal was to make a complex algorithm that takes into account speed, location proximity, disease resistance and strength. One feature that I focused on was spatial hashing which drastically reduced the computations per frame by over 95%.<br><br><strong>Skills used:</strong> Angular 1x, HTML5, CSS3, JavaScript, Canvas, Firebase, Github, and Gulp.<br><br>
          <md-button class="md-button md-raised" ng-href="https://project-pandemic.firebaseapp.com/#/view1" target="_blank">www.projectpandemic.com</md-button></p>
        <div class="atom website-picture-2">
          <div class="electron"></div>
          <div class="electron"></div>
          <div class="electron"></div>
        </div>
      </md-content>
      <md-content class="card-section card-section-text card-section-text-img"  layout-align="center center">
        <div class="card-section-half">
          <h1 class="animate slideInLeft">Three Rivers Photography</h1>
          <p class="animate slideInLeft delay-2">I was tasked with creating a business portfolio website for a Pittsburgh based photography company. I created a clean layout to portray some of their best wedding photography shots, giving them a strong introduction to any prospective clients. <br><br><strong>Skills used:</strong> HTML5, CSS3, JavaScript, Firebase, and jQuery.<br><br>
            <md-button class="md-button md-raised" ng-href="http://www.3riversphoto.com" target="_blank">www.3riversphoto.com</md-button></p>
        </div>
        <div class="card-section-half website-picture">
          <img class="animate" ng-src="images/3riversphotos.jpg" alt="" />
          <img class="animate" ng-src="images/3riversphotos2.jpg" alt="" />
        </div>
      </md-content>
      <!-- <md-content class="card-section card-section-text centered"  layout-align="center center">
        <div class="card-section-half">
          <h1 class="animate scaleIn">Orthodox Calendar Company</h1>
          <p class="animate slideInLeft delay-2">The OCC is an international christian calendar and apparel business. My goal was to create an appealing and easy to use eCommerce application for worldwide sales.<br><br>
            <a class="website-name clickable" style="decoration:none;" ng-href="http://www.livesofthesaintscalendar.com" target="_blank"><i>www.livesofthesaintscalendar.com</i></a></p>
        </div>
        <div class="card-section-half website-picture-2">
          <img class="animate occ-image" ng-src="images/livesofthesaints.jpg" alt="" />
        </div>
      </md-content> -->
    </div>


    <nav class="card-nav">
      <ul class="card-nav-list">
        <li class="card-nav-item">
          <a ng-href="" class="card-nav-link flex-row">
            <div class="card-section-half">
              <span class="blue-line animate scaleInLeft delay-3"></span>
              <span class="white-line animate scaleInLeft delay-4"></span>
            </div>
            <div class="card-section-half">
              <span class="white-circle animate slideInRight delay-5"></span>
            </div>
          </a>
        </li>
        <li class="card-nav-item">
          <a ng-href="" class="card-nav-link centered">
            <span class="blue-line animate scaleIn delay-3"></span>
            <span class="white-circle animate scaleIn delay-5"></span>
          </a>
        </li>
        <li class="card-nav-item">
          <a ng-href="" class="card-nav-link">
            <span class="blue-line animate scaleInLeft delay-2"></span>
            <span class="white-line animate scaleInLeft delay-4"></span>
            <span class="white-line animate scaleInLeft delay-5"></span>
          </a>
        </li>
        <li class="card-nav-item">
          <a ng-href="" class="card-nav-link flex-row">
            <div class="card-section-half">
              <span class="blue-line animate scaleInLeft delay-3"></span>
              <span class="white-line animate scaleInLeft delay-4"></span>
            </div>
            <div class="card-section-half">
              <span class="white-circle animate slideInRight delay-5"></span>
            </div>
          </a>
        </li>
      </ul>
    </nav>

  </md-card>

<md-content class="skills-section">
  <div class="title skills-title">
    <br><br>
    <p class="md-display-3">Technical Skills</p>
  </div>
<div layout-sm="column" layout="row" layout-md="row" layout-xs="column">
  <md-card layout layout-align="center" class="skills-card" flex>

    <ul class="skills-bar-container">

      <label>JavaScript</label>
      <span class="percent" id="javascript-pourcent"></span>
      <li>
        <span class="progressbar progresspurple" id="progress-javascript"></span>
      </li>

      <label>Python</label>
      <span class="percent" id="python-pourcent"></span>
      <li>
        <span class="progressbar progressyellow" id="progress-python"></span>
      </li>

      <label>Node / Express</label>
      <span class="percent" id="node-pourcent"></span>
      <li>
        <span class="progressbar progressnode" id="progress-node"></span>
      </li>

      <label>Angular2</label>
      <span class="percent" id="angular2-pourcent"></span>
      <li>
        <span class="progressbar progressgreen" id="progress-angular2"></span>
      </li>

      <label>Angular1.x</label>
      <span class="percent" id="angular-pourcent"></span>
      <li>
        <span class="progressbar progressgreen" id="progress-angular"></span>
      </li>

      <label>HTML</label>
      <span class="percent" id="html-pourcent"></span>
      <li>
        <span class="progressbar progressred" id="progress-html"></span>
      </li>

      <label>CSS & SASS</label>
      <span class="percent" id="css-pourcent"></span>
      <li>
        <span class="progressbar progressblue" id="progress-css"></span>
      </li>

      <label>Git</label>
      <span class="percent" id="git-pourcent"></span>
        <li>
          <span class="progressbar progressgit" id="progress-git"></span>
        </li>

      <label>React</label>
      <span class="percent" id="react-pourcent"></span>
        <li>
          <span class="progressbar progressreact" id="progress-react"></span>
        </li>

    	</ul>
    </div>
    </md-card>
  </md-content>

  <md-content class="spotify-section" layout="column" layout-align="center" layout-padding layout-margin>
    <p class="md-display-3 title">My Hacking Playlists</p><br>
    <div layout="row" layout-xs="column" layout-sm="column" layout-align="center center" layout-margin layout-padding>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A35vf79jnOBG3WZHQTzIl6a" width="320" height="380" frameborder="0" allowtransparency="true"></iframe>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A4BUG3kfPOB6DWVKKDY2icE" width="320p" height="380" frameborder="0" allowtransparency="true"></iframe>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A3K5jW2vkunhourPeQ3DiwV" width="320" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </md-content>

  <md-content class="about-section" layout="row" layout-xs="column" layout-sm="column" layout-padding layout-margin>
    <div class="panel" flex>
      <p class="about-me-paragraph">
        I enjoy turning complex problems into simple, intuitive and beautiful interface designs. Having worked with clients ranging from modeling to home building, I have a wealth of development experience and design sense to bring to the table. When I'm not coding <a class="clickable" data-toggle="modal" data-target="#mapModal"><strong>or traveling</strong></a>, you'll find me reading, in the gym or playing hockey. 🏒
      </p>
    </div>
    <div class="panel" layout="column" flex>
      <div layout="row" flex>
        <a ng-href="https://www.twitter.com/mike_mitrakos" target="_blank" class="social-logo"> <i class="fa fa-twitter"></i> </a>
        <p>Follow <a ng-href="http://www.twitter.com/mike_mitrakos" target="_blank" class="clickable">@mike_mitrakos</a> for web design & development or remote working articles and opinions</p>
      </div>
      <div layout="row" flex>
        <a ng-href="https://www.github.com/mitrakmt" class="social-logo" target="_blank"> <i class="fa fa-github"></i> </a>
        <p>View <a ng-href="http://www.github.com/mitrakmt" class="clickable" target="_blank">@mitrakmt</a> on GitHub for some of my projects including SeatHack & Epidemic</p>
      </div>
      <div layout="row" flex>
        <a ng-href="https://www.linkedin.com/in/michaelmitrakos" target="_blank" class="social-logo"> <i class="fa fa-linkedin"></i> </a>
        <p>View my <a ng-href="https://www.linkedin.com/in/michaelmitrakos" class="clickable" target="_blank">LinkedIn profile</a> for a full view of my professional experience</p>
      </div>
    </div>
    <div class="panel" flex>
      <p>
        <span data-toggle="modal" data-target="#awaModal" class="clickable">AWARDS & RECOGNITIONS</span> <br>
          View my personal awards and professional recognitions <br><br>
        <span data-toggle="modal" data-target="#artModal" class="clickable">ARTICLES</span> <br>
          Read popular articles I've authored <br><br>
        <span data-toggle="modal" data-target="#proModal" class="clickable">MORE PROJECTS</span> <br>
          Check out some of my other projects :) <br><br>
      </p>
    </div>
  </md-content>

  <md-content>
    <p class="footer"><i>Made with love by Michael Mitrakos in 🇦🇺, 🇰🇷, 🇺🇸, 🇬🇷</i></p>
  </md-content>

  <div ng-include="'views/partials/articles.html'"></div>
  <div ng-include="'views/partials/awards.html'"></div>
  <div ng-include="'views/partials/testimonials.html'"></div>
  <div ng-include="'views/partials/map.html'"></div>
  <div ng-include="'views/partials/projects.html'"></div>
