@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-stack: 'Raleway', sans-serif;
$primary-color: #e1253b;
$background-color: #121212;
$transition-duration: 0.3s;

.small-divider {
  border-bottom: 1px solid gray;
  width: 20vw;
}

p, h1, h2, h3, h4, h5 {
  font-family: $font-stack;
}