@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400|Playfair+Display|Poiret+One);

body {
  background: #171936;
  height: auto;
  width: 100%;
  color: white;
  font-family: 'Raleway';
  z-index: -1;
}

md-card {
  box-shadow: none !important;
  border-radius: 0;
}

.panel-heading {
  color: #3288E6 !important;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 35px !important;
}

.article-promo {
  height: 480px;
  position: relative;
  float: right;
  width: 400px;
  border-radius: 10px;
  margin: 60px;
  margin-right: 130px;
  opacity: .85;
}

.article-promo h3 {
  color: black;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 0;
}

.article-promo a:link {
  color: #3288E6;
}

.title {
  text-align: center;
}

.panel-subheading {
  margin-top: -15px;
  font-size: 15px !important;
  color: #3288E6 !important;
}

.skills-section {
  background-color: #171936;
}

.work-examples {
  background-color: #171936;
}

.brand-color {
  color: #0095FC !important;
}

md-divider {
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

md-content {
  overflow: none;
}

.divider-with-space {
  margin: 40px;
}

.md-input-focused .md-input {
  border-color: #0095FC !important;
}

.md-input-focused label {
  color: #0095FC !important;
}

.md-display-1 {
  font-size: 56px;
  color:white;
}

.md-display-2 {
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
  color:white;
}

.md-display-3 {
  font-size: 30px;
  color:white;
}

.md-display-4 {
  font-size: 24px;
  margin-top: -5px;
  line-height: 60px;
  color:white;
  font-weight: 500;
}

.page-heading {
  margin-top: 100px !important;
}

.page-heading h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 900;
  color: #090707;
  font-style: oblique;
}

.page-heading h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  padding-top: 30px;
  font-style: oblique;
}

.page-heading h5 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 15px;
}

.page-heading p {
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: -20px;
  color: gray;
}

.page-bottom {
  padding-bottom: 100px;
}

.md-button {
  color: #090707;
  background-color: white;
}

.md-button:hover {
  color: #0095FC;
  background-color: white;
  box-shadow: none;
}

.md-button.md-primary {
  color: #090707 !important;
  background-color: white !important;
}

.md-button.md-primary:hover {
  color: #0095FC !important;
  background-color: none !important;
}

/* Navigation */

.menu {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
  z-index: 2;
  text-align: left !important;
}

.menu-item, .menu-open-button {
  background: #3288E6;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 60px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  float: left;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #3288E6;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 70ms;
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 130ms;
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 310ms;
  transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 160ms;
  transition-duration: 160ms;
  -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
  transform: translate3d(114.42548px, 11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
  transform: translate3d(77.18543px, 85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 320ms;
  transition-duration: 320ms;
  -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
  transform: translate3d(0.09158px, 114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
  transform: translate3d(-77.04956px, 85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 480ms;
  transition-duration: 480ms;
  -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
  transform: translate3d(-114.40705px, 11.66307px, 0);
}

/* Main Card */

.main-card {
  background-color: #3288E6;
  text-align: center;
  width: 80%;
  min-height: 500px;
  margin-left: 10%;
  border-radius: 10px;
  border-top: solid 3px #2198E6;
  color: white;
}

.ProfilePic img {
  height: 600px;
  position: relative;
  float: right;
  opacity: .85;
  z-index: 0;
}

.landing-text {
  position: absolute;
  color: white;
  margin-top: 350px;
  margin-left: 100px;
  background-color: transparent;
}

.card-content {
  position: relative;
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.card-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: #3288E6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-section.active {
  opacity: 1;
  visibility: visible;
}
.card-section-half {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
}

.card-section-text h1 {
  margin-bottom: 3vh;
  margin-left: 30px;
  font-size: 44px;
  font-weight: 300;
  color: #22F5FC;
}
.card-section-text p {
  margin: 0;
  color: #F0F0F0;
  max-width: 750px;
  font-size: 18px;
  margin-left: 30px;
}
.card-section-text img {
  max-width: 700px;
  margin: 0 auto;
  margin-left: 20px;
}
.website-image {
  margin-top: 40px;
}
.card-section-text.centered {
  text-align: center;
}
.card-section-text-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.card-nav {
  width: 90px;
}
.card-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 100vh;
  overflow: visible;
}
.card-nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  overflow: visible;
  border-bottom: 7px solid #1BAFB9;
  background: #22F5FC;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-nav-item.active {
  background: #171936;
}
.card-nav-item:last-child {
  border-bottom: none;
}
.card-nav-item:hover {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.card-nav-item:hover .card-nav-link {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.card-nav-item:hover .blue-line,
.card-nav-item:hover .white-line,
.card-nav-item:hover .white-circle {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
.card-nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20%;
  position: absolute;
  width: 280%;
  height: 100%;
  left: calc(-280% + 90px);
  background: rgba(32, 35, 42, 0.75);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-nav-link.flex-row {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.card-nav-link.centered {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-nav-link .card-section-half {
  height: auto;
}
.card-nav-link .card-section-half:nth-child(2) {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blue-line {
  display: block;
  width: 80%;
  height: 14px;
  background: #22F5FC;
  margin-bottom: 12px;
}

.white-line {
  display: block;
  width: 60%;
  height: 5px;
  background: #F0F0F0;
  margin-bottom: 7px;
}
.white-line:nth-of-type(3) {
  width: 50%;
}

.white-circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F0F0F0;
}

/* animation classes */
.animate {
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.slideInLeft {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.slideInRight {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.scaleIn {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.scaleInLeft {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.delay-1 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.delay-2 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.delay-3 {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.delay-4 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.delay-5 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.logo {
  position: fixed;
  bottom: 3vh;
  left: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
  transform: rotate(180deg) scale(1.1);
}

/* Under Construction Atom */

@keyframes atom {
  from { transform: none; }
  to { transform: translateY(-10px); }
}
@keyframes electron-circle1 {
  from { transform: rotateY(70deg) rotateZ(20deg); }
  to { transform: rotateY(70deg) rotateZ(380deg); }
}
@keyframes electron1 {
  from { transform: rotateZ(-20deg) rotateY(-70deg); }
  to { transform: rotateZ(-380deg) rotateY(-70deg); }
}
@keyframes electron-circle2 {
  from { transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg); }
  to { transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg); }
}
@keyframes electron2 {
  from { transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg); }
  to { transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg); }
}
@keyframes electron-circle3 {
  from { transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg); }
  to { transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg); }
}
@keyframes electron3 {
  from { transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg); }
  to { transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg); }
}

.atom {
  margin: 50px auto;
  width: 175px;
  height: 175px;
  margin: -75px 0 0 55px;
  position: relative;
  animation: atom 3s ease-in-out infinite alternate;
  perspective: 300px;
  transform-style: preserve-3d;
  display: block;
  top: 15%;
  z-index: 1500;
}

.atom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #20232A;
}
.atom .electron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #20232A;
  transform-style: preserve-3d;
}
.atom .electron:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #20232A;
  transform-origin: 50% 50% 0;
}
.atom .electron:nth-child(1) {
  transform: rotateY(70deg) rotateZ(20deg);
  animation: electron-circle1 3s linear infinite;
}
.atom .electron:nth-child(2) {
  transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  animation: electron-circle2 3s linear infinite;
}
.atom .electron:nth-child(3) {
  transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  animation: electron-circle3 3s linear infinite;
}
.atom .electron:nth-child(1):before {
  transform: rotateZ(-20deg) rotateY(-70deg);
  animation: electron1 3s linear infinite;
}
.atom .electron:nth-child(2):before {
  transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  animation: electron2 3s linear infinite;
}
.atom .electron:nth-child(3):before {
  transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  animation: electron3 3s linear infinite;
}

/* Skills */

.skills-card {
  margin: 3%;
  margin-bottom: 0;
  background-color: transparent;

}

.skills-bar-container{
  position: relative;
  width: 80%;
  padding: 1% !important;
  margin: 5% auto;
  list-style:none;
}

.skills-bar-container li{
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-bottom: 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label{
  color: #fff;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.skills-bar-container .percent{
  color: #fff;
  font-size: 14px;
  float: right;
}

.progressbar{
  position:absolute;
  width:0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

	-webkit-animation-duration: 2s;
	animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

#progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-node {
  -webkit-animation-name: progress-node;
  animation-name: progress-node;
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}

#progress-angular2 {
  -webkit-animation-name: progress-angular2;
  animation-name: progress-angular2;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#progress-git {
  -webkit-animation-name: progress-git;
  animation-name: progress-git;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

#progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-react {
  -webkit-animation-name: progress-react;
  animation-name: progress-react;
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}

.progressred { background-color: #c0392b; }
.progressblue { background-color: #1199ff; }
.progresspurple { background-color: #9b59b6; }
.progressorange { background-color: orange; }
.progressgreen { background-color: #DD1B16; }
.progressgit { background-color: #512C79; }
.progressreact { background-color: #67DAF9; }
.progressnode { background-color: #689D66; }

@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-angular2{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-angular{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-git{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-node{0%{width: 0%;} 100%{ width: 85%;}}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-angular2{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-angular{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-git{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-node{0%{width: 0%;} 100%{ width: 85%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-angular2{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-angular{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-git{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-node{0%{width: 0%;} 100%{ width: 85%;}}

/* About section */

.about-section {
  background: #0F1126 !important;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.spotify-section {
  background: #0F1126 !important;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 45px;
}

.panel {
  background: #0F1126 !important;
  color: white;
  margin-left: 20px !important;
}

.social-logo {
  font-size: 30px;
  margin-right: 15px;
  color: #3288E6;
}

.clickable {
  cursor:pointer;
  color: #3288E6;
}

.about-me-paragraph {
  line-height: 2.3;
}

/* Footer */

.footer {
  text-align: center;
  color: white;
  background-color: #0F1126;
  margin-bottom: 0;
  padding-bottom: 15px;
}

/* Map */

.map-view {
  height: 70%;
  width: 100%;
  text-align: center;
}

.website-name {
  font-size: 15px;
  color: white !important;
}

.occ-image {
  max-height: 275px;
  margin-top: 0;
}

.skills-title {
  text-align:center;
  margin-bottom: -80px;
  padding-bottom: 0;
  margin-top:50px;
}

@media only screen and (max-height: 555px) {
  .website-picture {
    display: none;
  }
}

@media only screen and (max-height: 495px) {
  .website-picture-2 {
    display: none;
  }
}

@media only screen and (max-width: 908px) {
  .ProfilePic img {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {

  .ProfilePic img {
    height: 400px;
    opacity: .5;
  }

  .landing-text {
    margin-left: 50px;
    margin-top: 280px;
  }

  .landing-name {
    font-size: 45px !important;
  }

  .landing-role {
    font-size: 25px;
  }

  .card-section-text h1 {
    font-size: 30px;
  }

  .card-section-text p {
    font-size: 14px;
  }

  .card-section-text img {
    margin-top: 0;
  }

  .occ-image {
    max-height: 215px;
    max-width: 400px !important;
  }

  .card-nav {
    width: 70px !important;
  }

  .main-card {
    width: 85%;
    margin-left: 8%;
  }

  .website-picture {
    display: none;
  }

}

@media only screen and (max-width: 600px) {

  .landing-name {
    font-size: 40px !important;
  }

  .card-nav {
    width: 60px !important;
  }

  .ProfilePic img {
    height: 650px;
    opacity: .1;
  }

  .main-card {
    width: 85%;
  }

  .website-picture {
    display: none;
  }

  .skills-title {
    margin-bottom: 0px;
  }

  .menu-item, .menu-open-button {
    top: 400px;
  }

  .landing-text {
    margin-left: 50px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 500px) {

  .menu-item, .menu-open-button {
    margin-left: -40px;
    top: 400px;
  }

  .landing-text {
    margin-left: 20px;
    margin-top: 80px;
  }

  .landing-name {
    font-size: 35px !important;
  }

  .landing-role {
    font-size: 25px;
  }

  .main-card {
    width: 90%;
    margin-left: 5%;
  }

  .card-nav {
    width: 50px !important;
  }

  layout-margin {
    margin: 4px;
  }

  .website-picture {
    display: none;
  }

  .website-picture-2 {
    display: none;
  }

  .ProfilePic img {
    height: 250px;
    opacity: 0;
  }

  .skills-title {
    margin-bottom: 0px;
  }

  .spotify-section {
    padding-bottom: 0px;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .panel-heading {
    font-size: 30px !important;
  }
}
